/* .app .container .add .menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .app .container .add .menu .item {
    border: 1px solid lightgray;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
  }
  
  .app .container .add .menu .item h1 {
    font-size: 20px;
  }
  
  .app .container .add .menu .item .file {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .app .container .add .menu .item .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .app .container .add .menu .item .buttons:first-child {
    cursor: pointer;
    color: teal;
    background-color: white;
    border: 1px solid teal;
    padding: 3px 5px;
  }
  
  .app .container .add .menu .item .buttons:last-child {
    cursor: pointer;
    color: white;
    background-color: teal;
    border: 1px solid teal;
    padding: 3px 5px;
  }
  
  .app .container .add .menu .item .cat {
    display: flex;
    align-items: center;
    gap: 2px;
    color: teal;
  }
   */

.menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
.menu h1 {
    font-size: 20px;
    color: #555;
  }
  
.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
.post .img1 {
    width: 50%;
    height: 200px;
    object-fit: cover;
  }
  
.post h2 {
    color: #555;
  }
  
.post button {
    width: max-content;
    padding: 7.5px 15px;
    border: none;
    cursor: pointer;
    color: teal;
    background-color: white;
    border: 1px solid teal;
  }
  
.post button:hover {
    border: 1px solid white;
    background-color: #b9e7e7;
    color: black;
  }